General section styling
.tech-stack-container {
   
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .tech-stack-heading {
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: black;
  }

  @media (min-width: 768px) {
    .tech-stack-heading {
      font-size: 5rem;
    }
  }
  

  .tech-stack-grid {
    margin-top: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    
    justify-content: space-between;
  }
  
  @media (min-width: 1280px) {
    .tech-stack-grid {
      justify-content: flex-start;
      padding-left: 12rem;
    }
  }
  

  .tech-stack-item {
    width: 15%;
    height: 15%;
    display: inline-block;
    opacity: 1;
    transform: none;
  }
  

  .tech-stack-link {
    width: 4rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    transition: background-color 0.3s ease;
    border-radius: 0.375rem;
  }
  
  @media (min-width: 768px) {
    .tech-stack-link {
      width: 6rem;
      height: 6rem;
    }
  }
  
  @media (min-width: 1024px) {
    .tech-stack-link {
      width: 4rem;
    }
  }
  

  .tech-stack-link:hover {
    background-color: white;
    /* width: 50%; */
  }
  

  .tech-stack-image:hover {
    transform: rotate(10deg);
    transition-duration: 0.1s;
  }
  
 
  .tech-stack-text {
    margin-top: 1rem;
    font-size: 0.875rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Rethink Sans', sans-serif;
  }
   